[Unit]
Description=uPy Switches and LEDs driver

BindsTo=dev-ttyACM0.device
After=dev-ttyACM0.device

[Service]
Type=simple
ExecStart=/usr/local/sbin/upy-switch-systemd.pl
RemainAfterExit=yes

[Install]
WantedBy=dev-ttyACM0.device

